# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# I added
micromark-extension-mark
public/assets/ace-editor
public/assets/prism-all-themes
public/assets/index-*.js
public/assets/index-*.css
public/uploads/
views/desktop.ejs
export/
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?