@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

/* padding: 0 2 3 4 */
/* top | right | bottom | left */

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  --notes-background: white;
}

body {
  margin: 0px;
  overflow: hidden;
  background: var(--body);
}

body * {
  scrollbar-color: var(--main-accent) rgba(0, 0, 0, 0);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

a {
  color: var(--main-accent);
}

.tippy-box {
  border-radius: 6px !important;
  background: var(--notes-background) !important;
  color: var(--notes-color) !important;
  box-shadow: var(--floating-bs) !important;
}

#loading {
  top: 0%;
  left: 0%;
  position: fixed;
  z-index: 1000000;
  background: var(--notes-background);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

#progBarContainer {
  font-size: 14px;
  width: auto;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#progBar {
  transition: 0.25s;
  transform: 0.25s;
  height: 5px;
  width: 0px;
  background: var(--main-accent);
  border-radius: 12px;
}

.loaded {
  pointer-events: none;
  animation: fadeOut 0.5s ease;
}

#mainContainer {
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#leftMostSideBar {
  padding-top: 6px;
  width: 20px;
  user-select: none;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  background: var(--side-bar);
}

.whereTo {
  transition: 0.25s;
  text-align: center;
  cursor: pointer;
  color: var(--list-color);
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  font-size: 15px;
  height: 20px;
  line-height: 20px;
}

.whereTo:hover {
  background: var(--sidebar-accents);
}

.currPage {
  background: var(--main-accent) !important;
  color: var(--accent-font) !important;
}

#morePages {
  line-height: 20px;
  display: none;
}

#sideBarRetractList {
  flex-grow: 1;
  cursor: pointer;
  transition: 0.25s;
  border-radius: 3px;
}

#sideBarRetractList:hover {
  background: var(--sidebar-accents);
}

#goHome {
  border-top-style: solid;
  border-width: 1px;
  border-color: var(--sidebar-accents);
  font-style: italic;
  text-decoration: none;
  height: 2em;
  line-height: 2em;
}

#listOfBooks {
  background: var(--list-background);
  user-select: none;
  overflow-x: hidden;
  padding: 5px;
  font-size: 14px;
  color: var(--list-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 330px;
}

#listOfBooks li {
  overflow: hidden;
  white-space: nowrap;
  margin-left: -2em;
  margin-top: 5px;
  border-radius: 3px;
  display: flex;
}

#listOfBooks ul {
  margin-top: 0px;
  border-left-style: solid;
  border-width: 1px;
  margin-left: 7px;
  border-color: var(--dropped-folders);
  display: none;
  margin-bottom: 6px;
  flex-direction: column;
}

#listOfBooks a {
  text-decoration: none;
  cursor: pointer;
  flex-grow: 1;
  height: 1.25em;
  line-height: 1.25em;
  color: var(--list-color);
}

#listOfBooks li a:hover {
  background: var(--dropped-folders);
}

#searchItem {
  width: auto;
  height: 1.5em;
}

#searchBar {
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  height: 100%;
  background: var(--searchAndUpload);
  outline: none;
  border: none;
  color: var(--searchAndUpload-color);
  padding: 0.25em;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  border-radius: 3px;
}

#listContainer {
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - 2em);
  scrollbar-color: black;
}

#listContainer .item {
  flex-grow: 1;
}

.gigaFolder {
  display: flex !important;
  margin-left: -12px !important;
  border-left-style: none !important;
}

.folderName {
  cursor: pointer;
  height: 1.6em;
  line-height: 1.6em;
  transition: 0.25s;
  padding-left: 5px;
  border-radius: 3px;
  outline: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.down {
  background: var(--dropped-folders);
}

.down ul {
  display: block !important;
}

.folderName::before {
  transition: 0.15s;
  content: "●";
  margin-right: 0.25em;
  font-family: monospace;
  display: inline-block;
}

.down.folderName::before {
  color: var(--main-accent);
}

.folderName:hover {
  background: var(--dropped-folders);
}

.itemUpload {
  background: var(--searchAndUpload);
  width: 100%;
  margin-bottom: -5px;
  margin-left: -5px;
  padding: 3px 0.25em 0 5px;
  height: 2em;
  border-top-style: solid;
  border-width: 1px;
  border-color: var(--sidebar-accents);
  color: var(--searchAndUpload-color);
  transition: 0.15s;
}

.itemUpload .folderName:hover {
  background: inherit;
}

.itemUpload li a:hover {
  background: var(--list-background) !important;
  color: var(--list-color) !important;
}

.itemUpload .folderName::before {
  margin-left: -1px;
  content: attr(data-children);
  transition: 0s;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

.itemUpload ul {
  padding-bottom: 3px;
  max-height: 500px;
  overflow-y: auto;
}

.itemUpload a {
  color: var(--searchAndUpload-color) !important;
}

.itemUpload.down {
  height: auto;
}

#border {
  box-sizing: border-box;
  transition: 0.5s;
  width: 5px;
  height: 100vh;
  background: none;
  cursor: w-resize;
}

#border:hover {
  background: var(--main-accent) !important;
}

#workspace {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#tabs {
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  height: 37px;
  min-height: 37px;
  display: flex;
  margin-left: -5px;
  width: calc(100% + 5px);
  align-items: center;
  background: var(--body);
  border-left-style: none;
  padding: 5px;
  gap: 3px;
}

.tab {
  background: var(--notes-background);
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0 5px 0 8px;
  height: 100%;
  width: 8rem;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--tab-color);
  cursor: pointer;
  animation: tabIn 0.07s ease-out;
  user-select: none;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, */
  /* rgb(211, 215, 218) 0px 0px 0px 1px inset; */
}

.tabName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabExit {
  font-size: 20px;
  transform: rotate(45deg);
  font-weight: bold;
}

.tabExit:hover {
  color: var(--destructive);
}

/* .tab:hover {
  opacity: 0.5;
} */

.openTab {
  background: var(--icons) !important;
  color: var(--icons-color) !important;
  opacity: 1 !important;
}

/* toolbar. #brain is a container element for wikipedia summary, summary is put in this element and this element is put in the tooltip */
#brain {
  width: 400px;
  height: auto;
}

#icons .emoji {
  height: 1.15em;
  width: 1.15em;
  filter: drop-shadow(1px 0.01em 0.01em rgba(0, 0, 0, 0.2))
    drop-shadow(0.01em 1px 0.01em rgba(0, 0, 0, 0.2))
    drop-shadow(-1px 0.01em 0.01em rgba(0, 0, 0, 0.2))
    drop-shadow(0.01em -1px 0.01em rgba(0, 0, 0, 0.2));
}

#icons {
  background: var(--icons);
  border-radius: 5px;
  display: flex;
  gap: 5px;
  padding: 6px 9px 2px 9px;
  font-size: 1.4em;
  justify-content: center;
  align-items: center;
}

#toolBar {
  /* transform: translate(-50%, 0%); */
  top: 37px;
  right: 0%;
  position: fixed;
  user-select: none;
  height: auto;
  width: auto;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  background: var(--body);
  /* backdrop-filter: blur(5px); */
  display: flex;
  margin-right: 16px;
  z-index: 1;
  color: var(--icons-color);
  box-sizing: border-box;
  padding: 3px 6px 6px 6px;
}

#toolBar::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 0px;
  left: -24px;
  height: 48px;
  width: 24px;
  border-top-right-radius: 24px;
  box-shadow: 0 -24px 0 0 var(--body);
}

#toolBar::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 0px;
  right: -25px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 var(--body);
}

.homeToolBar #icon1,
.homeToolBar #icon3,
.homeToolBar #icon4,
.homeToolBar #icon6,
.homeToolBar #icon7,
.homeToolBar #grnBox,
.homeToolBar #areNotesSavedIcon {
  pointer-events: none;
  opacity: 0.35;
  filter: grayscale(1);
}

#toolBar label,
#icon1,
#icon2,
#icon3,
#icon4,
#icon5,
#icon6,
#icon7,
#icon8,
#areNotesSavedIcon {
  cursor: pointer;
}

#notesAreaContainer {
  box-sizing: border-box;
  height: calc(100% - 37px);
  width: 100%;
  display: flex;
}

.isEncrypted#notesAreaContainer::before {
  content: "🔏";
  position: absolute;
  margin: 5px 0 0 5px;
  background: var(--body);
  border-radius: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notesAreaContainer .tippy-content {
  padding: 3px;
}

.readMode #notesTextArea {
  display: none;
}

.readMode #notesPreviewArea {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  border-top-left-radius: 12px;
}

.writeMode #notesPreviewArea {
  display: none;
}

.writeMode #notesTextArea {
  padding-left: 20%;
  padding-right: 20%;
  border-top-left-radius: 12px;
}

.splitMode #notesPreviewArea,
.splitMode #notesTextArea {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  border-top-left-radius: 0px;
}

.splitMode #notesTextArea {
  border-top-left-radius: 12px;
}

#notesTextArea {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 3em;
  padding-bottom: 10em;
  overscroll-behavior-y: contain;
  overflow-y: auto;
  background: var(--notes-background);
}

#notesTextArea::selection,
#notesPreviewArea *::selection {
  background: var(--selection);
}

#editor {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
}

#notesPreviewArea {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 3em;
  padding-bottom: 10em;
  background: var(--notes-background);
  color: var(--notes-color);
  font-size: 17px;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  line-height: 1.5em;
}

.katex-html {
  display: none;
}

mark {
  background: var(--highlight);
  color: var(--highlight-color);
}

.reference {
  color: var(--main-accent);
  text-decoration: none;
  cursor: pointer;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
table tr {
  border: 1px solid #ddd;
  padding: 5px;
}
table th,
table td {
  padding: 10px;
  text-align: center;
}
table th {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 2px solid #ddd;
    display: block;
    margin-bottom: 10px;
  }
  table td {
    border-bottom: 1px dotted #ccc;
    display: block;
    font-size: 13px;
    text-align: right;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}

#notesPreviewArea img,
.pagePreviewContainer img {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0);
  user-select: none;
  max-width: 80%;
  height: auto;
  border-radius: 12px;
  transition: 0.25s;
}

.pagePreviewContainer img {
  max-width: 100%;
}

#notesPreviewArea img:hover {
  border-color: var(--main-accent);
}

#notesPreviewArea code {
  background: var(--code);
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.25em;
  font-size: 15px;
}

.pagePreviewContainer pre,
#notesPreviewArea pre {
  background: var(--code);
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.25em;
  padding: 0.75rem 1rem;
  font-size: 15px;
  overflow-x: auto;
}

.pagePreviewContainer pre code,
#notesPreviewArea pre code {
  font-family: monospace;
  background: none;
  padding: 0;
}

blockquote {
  width: 100%;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  margin: 0;
}

hr {
  color: var(--notes-color);
}

blockquote:hover {
  background: var(--code);
}

/* This needs media query. looks rly bad when even slightly zoomed in */
.note-calendar-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 10em;
  padding: 10px 20px 10px 10px;
  display: flex;
  gap: 1em;
  justify-content: start;
  align-items: start;
  border-radius: 12px;
  background: var(--code);
  overflow: hidden;
}

.note-calendar-wrapper b {
  align-self: flex-end;
  justify-self: flex-end;
  margin-left: auto;
}

.note-calendar-event {
  box-sizing: border-box;
  padding: 10px 10px 5px 10px;
  height: 100%;
  min-width: 9em;
  max-width: 9em;
  border-radius: 12px;
  background: var(--notes-background);
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  cursor: default;
  justify-self: flex-start;
}

.note-calendar-event span {
  flex-grow: 1;
  margin-top: 5px;
  cursor: default;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.note-calendar-event b {
  width: 100%;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  background: var(--code);
  border-color: rgba(0, 0, 0, 0.3);
  padding: 3px;
  box-shadow: rgba(245, 245, 245, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  text-align: center;
  cursor: default;
}

.note-calendar-event i {
  font-size: 13px;
  color: gray;
}

#bottomLeftGeneralInfo {
  cursor: default;
  z-index: 1;
  bottom: 0%;
  left: calc(25px + 300px);
  position: fixed;
  border-top-right-radius: 6px;
  color: var(--notes-color);
  backdrop-filter: blur(5px);
  user-select: none;
  display: flex;
  gap: 8px;
  padding: 0.3em;
  font-family: monospace;
}

#spacer {
  color: var(--searchAndUpload);
}

#openCommandPal {
  cursor: pointer;
}

#openCommandPal:hover {
  opacity: 0.5;
}

#bottomRightTools {
  display: flex;
  position: fixed;
  z-index: 1;
  bottom: 0%;
  right: 0%;
  margin-right: 16px;
  margin-bottom: 8px;
  gap: 6px;
}

#brDots {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dot {
  border-style: solid;
  border-width: 2px;
  border-color: var(--notes-background);
  cursor: pointer;
  height: 0.67em;
  width: 0.67em;
  background-color: var(--icons);
  border-radius: 33%;
  display: inline-block;
  transition: 0.25s;
}

.dot:hover {
  border-color: var(--icons);
}

.dot.currPage:hover {
  border-color: var(--main-accent);
}

#stickyNotes,
#openCalendar,
#flashcardsPrac {
  box-shadow: var(--floating-bs);
  height: 3.5em;
  width: 3.5em;
  border-radius: 25%;
  background: var(--icons);
  line-height: 3.5em;
  text-align: center;
  font-size: 1em;
  transition: 0.25s;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#stickyNotesEmoji,
#openCalendarEmoji,
#flashcardsPracEmoji {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stickyNotesTextArea {
  display: none;
}

#stickyNotes:hover .emoji,
#openCalendar:hover .emoji,
#flashcardsPracEmoji:hover .emoji {
  scale: 1.2;
  transform: rotate(15deg);
}

#stickyNotes .emoji,
#openCalendar .emoji,
#flashcardsPracEmoji .emoji {
  transition: 0.25s;
  width: 2em;
  height: 2em;
}

.snOpen {
  border-radius: 0px !important;
  width: 300px !important;
  height: 300px !important;
  padding: 10px !important;
}

.snOpen .emoji {
  display: none;
}

.snOpen textarea {
  height: 300px;
  width: 300px;
  outline: none;
  border: none;
  resize: none;
  color: var(--icons-color);
  background: var(--icons);
  display: inline !important;
}

#contextMenu {
  overflow-y: auto;
  width: 175px;
  background: var(--context-menu);
  position: fixed;
  z-index: 3;
  box-shadow: var(--floating-bs);
  border-radius: 6px;
  padding: 3px;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: auto;
}

#contextMenu a {
  color: black;
  text-decoration: none;
}

.contextMenuItem {
  color: var(--context-menu-color);
  overflow: hidden;
  white-space: nowrap;
  height: 1.5em;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  padding-left: 5px;
  font-size: 13px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  user-select: none;
  flex: 0 0 auto;
  outline: none;
  cursor: pointer;
}

.ios:hover {
  background: var(--main-accent);
  color: var(--accent-font);
}

.rios:hover {
  background: var(--destructive) !important;
}

.listPreview {
  background: var(--notes-background) !important;
  color: var(--notes-color);
  left: 330px;
  width: auto !important;
  animation: slideSmall 0.2s ease !important;
}

.pagePreviewContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
  width: 300px;
  padding: 15px;
  font-size: 14px;
  overscroll-behavior-y: contain;
}

.pagePreviewContainer h1,
.pagePreviewContainer h2,
.pagePreviewContainer h3 {
  margin-top: 0px;
  margin-bottom: 0.5em !important;
}

.pagePreviewContainer a {
  pointer-events: none;
  color: var(--main-accent) !important;
}

#popupModal,
#paletteContainer {
  z-index: 2;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  animation: fade 0.5s;
}

#paletteContainer {
  z-index: 3;
}

#bookDiffPopup {
  border-radius: 6px;
  resize: both;
  height: 95%;
  width: 85%;
  max-width: 1600px;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#bookDiffContent .fcButtons button {
  background: var(--misc-buttons);
}

#bookDiffContent a {
  color: black;
}

#bookDiffContent input:placeholder-shown {
  font-style: italic;
}

#bookDiffExit {
  margin: 4px;
  border-radius: 13px;
  height: auto;
  background: var(--popup-exit);
  text-align: center;
  height: 10px;
  width: 25px;
  user-select: none;
  transition: 0.25s;
}

#bookDiffHeader {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: end;
  background: var(--notes-background);
  backdrop-filter: blur(5px);
  height: 20px;
  width: 100%;
}

#bookDiffContent {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-sizing: border-box;
  padding: 2em 10% 2em 10%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  white-space: pre-wrap;
  background: var(--notes-background);
  color: var(--notes-color);
  overscroll-behavior-y: contain;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 0.5s;
}

#bookDiffContent h2 {
  text-align: center;
  padding: 0.5em;
  background: var(--misc-buttons);
  color: var(--buttons-color);
  border-radius: 6px;
  user-select: none;
}

#bookDiffContent h2:hover,
#addTask:hover {
  background: var(--hovers);
  cursor: pointer;
}

#bookDiffExitContainer {
  cursor: pointer;
}

#bookDiffExitContainer:hover #bookDiffExit {
  opacity: 0.5;
}

/* flashcard mode */
#fcArea {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 400px;
  width: 20vw;
  height: calc(100vh - 17px);
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
}

.cardFront,
.cardBack {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 5px;
  box-sizing: border-box;
  color: var(--quizlet-font);
  border-radius: 6px;
  width: 100%;
  height: 30%;
  outline: none;
  background: var(--quizlet-purple);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  opacity: 0.5;
}

.cardFront::before,
.cardBack::before {
  content: "Front";
  background: var(--quizlet-purple-accents);
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
}

.cardBack::before {
  content: "Back";
}
.fcButtons {
  display: flex;
  width: 100%;
  gap: 1%;
}

.currCard {
  opacity: 1;
}

.fcButtons button {
  flex-grow: 1;
  height: 2em;
  align-items: center;
  background-color: var(--notes-background);
  color: var(--notes-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.fcButtons button:hover,
.fcButtons button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.fcButtons button:active {
  background-color: var(--notes-color) !important;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: var(--notes-background);
}

#fcAlert {
  box-sizing: border-box;
  height: 17px;
  bottom: 0%;
  position: absolute;
  width: 100vw;
  background: var(--quizlet-purple-accents);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--quizlet-font);
  font-size: 13px;
  padding: 3px;
}

.flashcardMode #fill * {
  cursor: pointer;
}

.fcSelection {
  transition: 0.15s;
  background: var(--quizlet-purple) !important;
  color: var(--quizlet-font);
}

.fcSelection * {
  background: var(--quizlet-purple) !important;
  color: var(--quizlet-font);
}

.fcSelection::marker {
  color: var(--notes-color);
}

.flashcardMode #mainContainer {
  height: calc(100vh - 17px);
  max-width: calc(100vw - 400px);
  width: 80vw;
  cursor: default;
}

.flashcardMode #notesAreaContainer {
  height: 100%;
}

.flashcardMode #leftMostSideBar,
.flashcardMode #listOfBooks,
.flashcardMode #tabs,
.flashcardMode #toolBar,
.flashcardMode #bottomRightTools,
.flashcardMode #bottomLeftGeneralInfo {
  display: none !important;
}

.extra {
  width: 100%;
  display: flex;
  gap: 5px;
}

.fcGroup {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
}

.fcGroupInfo {
  font-family: "Reddit Mono";
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: var(--quizlet-font);
  background: var(--quizlet-purple-accents);
}

/* flashcard editing mode */
.editableCard {
  height: auto;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

.editableCard::before {
  content: attr(data-order);
}

.editableCard .cardFront,
.editableCard .cardBack {
  width: 50%;
  height: 300px;
  opacity: 0.75;
}

.editableCard .cardFront:focus,
.editableCard .cardBack:focus {
  opacity: 1;
}

.deleteCard {
  outline: none;
  border-style: none;
  user-select: none;
  cursor: pointer;
  height: 2em;
  width: 2em;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--misc-buttons);
}

.deleteCard:hover {
  background: var(--hovers);
}

/* flashcard popup */
.reset {
  cursor: pointer;
  padding: 5px;
  background: var(--misc-buttons);
  color: var(--buttons-color);
  justify-content: center;
  border-radius: 7px;
  display: flex;
  user-select: none;
}

.reset:hover {
  background: var(--hovers);
}

.fcCardList {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1%;
  gap: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: rgba(129, 129, 129, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background: var(--misc-buttons);
  transition: 0.25s;
}

.fcCardList .cardFront {
  background: var(--quizlet-purple);
  width: 300px;
  min-width: 300px;
  height: 100%;
  box-shadow: none;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  opacity: 1;
  cursor: pointer;
  transition: 0.25s;
}

.fcCardList .cardFront:hover {
  opacity: 0.75;
}

.fcCardList .cardFront::before {
  background: var(--quizlet-purple-accents);
}

/* studying flip cards */
.studyContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1%;
}

.studyContainer .fcButtons {
  width: 50%;
}

.studyingOptions {
  gap: 5px;
  width: 70%;
  height: 2em;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.quizlet {
  width: 70%;
  height: 70%;
  box-sizing: border-box;
  animation: slide 0.25s ease;
  user-select: none;
}

.qContent {
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.quizletActive .qContent {
  transform: rotateX(180deg);
  transition: transform 0.5s;
}

.qFront,
.qBack {
  box-sizing: border-box;
  padding: 1em 2em 2em 2em;
  line-height: 1.5em;
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--quizlet-purple);
  color: var(--quizlet-font);
  font-size: 20px;
  border-radius: 6px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  border-top-style: solid;
  border-width: 1em;
  border-color: var(--quizlet-purple-accents);
}

/* .qFront::before,
.qBack::before {
  content: "Front";
  width: 100%;
  text-align: center;
  border-radius: 4px;
  background: var(--quizlet-purple-accents);
  margin-bottom: 10px;
} */

/* .qBack::before {
  content: "Back";
} */

.qBack {
  transform: rotateX(180deg);
}

/* calendar popup */
#seePast {
  cursor: pointer;
}

#seePast:hover {
  background: var(--hovers);
}

.filter {
  box-sizing: border-box;
  padding: 3px;
  background: var(--quizlet-purple);
  color: var(--quizlet-font);
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.25s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0 0 auto;
  font-size: 13px;
  text-decoration: none;
  user-select: none;
}

.filter:hover {
  text-decoration: line-through;
}

#todoContainer {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
}

#addTaskContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 3px;
  align-items: center;
}

#addTaskContainer input,
#addTaskContainer textarea {
  min-height: 1.8em;
  width: 100%;
  padding: 3px;
  background: var(--misc-buttons);
  color: var(--buttons-color);
  border-radius: 3px;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

#addTaskContainer textarea {
  min-height: 100px;
  resize: none;
  font-size: 14px;
}

#addTaskContainer input:focus,
#addTaskContainer textarea:focus {
  background: var(--hovers);
}

#taskList {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  padding: 10px 3px 3px 3px;
  overflow-y: auto;
  overflow-x: visible;
  border-radius: 6px;
  scroll-behavior: smooth;
}

.task input {
  width: auto !important;
}

.taskFlashes {
  animation: taskFlashes 1s;
}

.task {
  width: 100%;
  box-sizing: border-box;
  background: var(--quizlet-purple);
  padding: 3px 3px 5px 3px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  user-select: none;
  color: var(--quizlet-font);
  font-size: 16px;
  overflow-x: auto;
  flex: 0 0 auto;
  min-height: 3em;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.task div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.taskDueDate::before {
  content: " - ";
}

.taskCategory,
.taskDueDate {
  max-width: 50cqw;
  white-space: nowrap;
}

.taskExtendedDesc {
  border-radius: 12px;
  padding: 10px;
  height: 300px;
  width: 300px;
  word-wrap: break-word;
}

.taskTitle,
.taskCategory {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.taskTitle {
  box-sizing: border-box;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
}

.taskTitle:focus {
  border-color: var(--quizlet-font);
}

.taskMoreInfo {
  padding: 3px;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: help;
}

.taskMoreInfo:hover {
  background: var(--quizlet-purple-accents);
}

.eventBottom {
  box-sizing: border-box;
  padding: 3px;
  font-size: 13px;
  border-radius: 2px;
  transition: 0.25s;
  display: flex;
  cursor: pointer;
}

.eventBottom:hover {
  background: var(--quizlet-purple-accents);
}

.ace_search {
  border-radius: 5px !important;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

.ace_search_field {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

/* override full calendar variables, not to be mistaken with my own fc (flashcards) stuff */
.fc {
  flex-grow: 1;
  user-select: none;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number {
  color: var(--notes-color) !important;
}

.fc-event {
  cursor: pointer;
  background: var(--quizlet-purple);
  border: none;
}

.fc-event-title {
  color: var(--quizlet-font);
}

.fc-button {
  background: var(--misc-buttons) !important;
  color: var(--buttons-color) !important;
}

/* .fc-day-today {
  background: var(--highlight) !important;
}

.fc-day-today .fc-daygrid-day-number {
  color: var(--highlight-color) !important;
} */

/* https://stackoverflow.com/a/69970674 */
#wikipediaBrainAnimation {
  user-select: none;
  visibility: hidden;
  position: fixed;
  z-index: 100000;
  pointer-events: none;
  font-size: 1.2em;
}

#wikipediaBrainAnimation .emoji {
  height: 1.15em;
  width: 1.15em;
}

.wikipediaBrainAnimation {
  animation: brainAnimation 1s forwards;
  position: absolute;
  visibility: visible;
}

.powerSearch .results {
  max-height: 40vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.powerSearch {
  position: relative;
  margin: auto;
  /* padding: 4px; */
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 640px;
  background: var(--notes-background);
  box-shadow: var(--floating-bs);
  overflow: hidden;
  animation: bounce-in 0.25s ease;
  font-family: monospace !important;
  color: var(--notes-color);
}

.powerSearch input {
  padding: 1.25em;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0px;
  border: medium;
  appearance: none;
  font-size: 14px;
  background: transparent;
  color: var(--notes-color) !important;
  outline: none;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

.powerSearch .item {
  padding: 0.75em 1em;
  display: flex;
  border-left: 2px solid transparent;
  align-items: center;
  justify-content: start;
  outline: none;
  transition: color;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  font-size: 14px;
  transition: .25s;
}

.powerSearch .item {
  min-height: 40px;
  justify-content: space-between;
}

.powerSearch .finder {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.powerSearch .item:hover,
.powerSearch .item.selected {
  cursor: pointer;
  background-color: var(--code);
  outline: none;
  padding-left: 25px;
  border-left-style: solid;
  border-width: 4px;
  border-color: var(--main-accent);
}

/* https://codepen.io/oltika/pen/WGLZyb */
.fcCardList.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.grid {
  justify-content: space-between;
}

.grid i {
  text-align: center;
}

.grid .filter {
  margin-bottom: auto;
}

.leftFade {
  background: linear-gradient(to left, var(--notes-color), rgba(0,0,0,0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightFade {
  background: linear-gradient(to right, var(--notes-color), rgba(0,0,0,0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topOverflow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 36px -28px inset;
}

.saved {
  animation: saved 1s ease;
}

.fade {
  animation: fade 0.5s ease;
}

.gone {
  display: none !important;
}

.inverted {
  filter: invert(0.9);
}

.grayscale {
  filter: grayscale(1);
}

.idk {
  animation: bounce-in 0.15s ease;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    margin-left: 200px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slideSmall {
  from {
    margin-left: 10px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes tabIn {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 8rem;
    opacity: 1;
  }
}

@keyframes taskFlashes {
  0% {
    background: var(--highlight);
  }
  100% {
    background: var(--quizlet-purple);
  }
}

@keyframes brainAnimation {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -50px;
  }
}

@keyframes saved {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* https://loading.io/css/ */
.lds-grid {
  /* change color here */
  color: var(--main-accent);
}
.lds-grid,
.lds-grid div {
  box-sizing: border-box;
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: currentColor;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media print {
  #listOfBooks,
  #tabs,
  #leftMostSideBar,
  #toolBar,
  #bottomRightTools,
  #bottomLeftGeneralInfo,
  #notesTextArea {
    display: none !important;
  }
  #notesPreviewArea {
    padding: 0 0 0 0 !important;
    display: flex !important;
  }
}
