<!DOCTYPE html>
<html lang="en">
  <head>
    <title>notes.ryaan.win/</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/microsoft/fluentui-emoji/14053d26005b9afe3ce0e020862ed5ab2335f989/assets/Zzz/Color/zzz_color.svg" />
    <!-- Inter font -->
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <!---->

    <!-- Load self hosted libraries -->
    <script defer src="/assets/diff.min.js"></script>
    <script defer src="/assets/syncscroll.min.js"></script>
    <!---->

    <!-- index.js -->
    <style></style>
    <script type="module" crossorigin src="/assets/index-DNHvUbel.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-COX0xVNA.css">
  </head>
  <body>
    <noscript>This app requires JavaScript to function.</noscript>
    <script
      src="/assets/src-min/ace.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
  </body>
</html>
