<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/style.css">
    <!--PWA Manifest-->
    <link rel="manifest" href="/manifest.json">
    <!--Inter font-->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <!--JS-->
    <script src="https://emoji.fluent-cdn.com/latest/fluentemoji.min.js" crossorigin="anonymous"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$']]
            },
            startup: {
                typeset: false
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/12.0.0/marked.min.js" integrity="sha512-tjg8I2d6Fi0OBGz1csmr7RfI4uupYaCfL/RqhVRTS42RMGwfBsjwBGmhzhI+e2dPmyew8cFkoxnVkGvADDLvbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src = "/libraries/diff.min.js"></script>
    <script src = "/libraries/dragscroll.min.js"></script>
    <script src="/libraries/notyf.min.js"></script>
    <script src="/libraries/dropzone-min.js"></script>
    <script src="/libraries/popper.min.js"></script>
    <script src="/libraries/tippy-bundle.iife.min.js"></script>
    <script src="/libraries/purify.min.js"></script>
    <script src="/libraries/syncscroll.min.js"></script>
    <script defer src="/assets/index.js"></script>    
</head>
<body>
    <div id = "mobileSyncContainer">
        <div id = "mobileSync"></div>
    </div>
    <div id = "bookDiffPopup">
        <div id = "bookDiffHeader">
            <div id = "bookDiffExit">&#x2718;</div>
        </div>
        <div id = "bookDiffContent" class="dragscroll"></div>
        <div id = "bookDiffFooter">&nbsp;</div>
    </div>
    <div id = "mobileMenu">
        ...
    </div>
    <div id = "mobileList" data-pos = "hidden"></div>
    <div id="toolBar">
        <span id="icon1">&#128190;</span>
        <span id="icon2">&#128214;</span>
        <span id="icon3">&#128465;&#65039;</span>
        <span id="icon4">
            <label for="getFile1" id = "labelForImage">&#x1f5bc;&#xfe0f;</label>
            <form id="myForm">
                <input id="getFile1" type="file" name="avatar" style='display:none'>
            </form>
        </span>
        <span id="icon5">&#128065;&#65039;</span>
        <span id="icon6">&#9664;&#65039;</span>
        <span id="icon7">&#9654;&#65039;</span>
        <span id="icon8"><span id="wikipedia">&#129504;</span></span>
        <span id = 'areNotesSavedIcon'>&#9851;&#65039;</span>
    </div>
    <div id = "bottomLeftGeneralInfo">
        <span id = "generalInfoPageNumber"></span>&nbsp;
        <span id = "generalInfoViewMode"></span>&nbsp;
        <span id = "letterCount"></span>&nbsp;
        <span id = "wordCount"></span>&nbsp;
    </div>
    <div id = "mainContainer">
        <div id="leftMostSideBar">
            <div id = "topLeftPageNumbers"></div>
            <div id = "createNewPage">
                <span class = 'whereTo' id = 'newPage'>+</span>
            </div>
            <div id = "sideBarRetractList">&#9679;</div>
        </div>
        <div id="listOfBooks" data-pos="shown"></div>
        <div id = "notesAreaContainer">
            <textarea id="notesTextArea" tabindex="0" class="syncscroll" name="myElements" spellcheck="true" placeholder="Type your notes here"></textarea>     
            <div id="notesPreviewArea" class="syncscroll" name="myElements"></div>  
        </div>
    </div>
    <div id = "typeSetting">Typesetting...</div>
    <div id="wikipediaBrainAnimation"></div>
    <span id = "noteBookFromDb-ejs"><%= data.book %></span>
</body>
</html>