<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
    <!--Inter font-->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script>
      MathJax = {
          tex: {
              inlineMath: [['$', '$']],
              displayMath: [['$$', '$$']],
          },
          startup: {
              typeset: true
          },
          options: {
              enableMenu: false,
          },
      };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <script type="module" crossorigin src="/dist/assets/index-DeH61Yxu.js"></script>
    <link rel="stylesheet" crossorigin href="/dist/assets/index-Di9QoUem.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
