@import url("https://cdnjs.cloudflare.com/ajax/libs/notyf/3.10.0/notyf.min.css");
@import url("https://unpkg.com/tippy.js@5/themes/light.css");

body {
    margin: 0px;
    overflow-y: hidden;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

a {
    color: darkcyan;
}

/* Dynamically loaded content that is never viewed directly by the user, basically used to pass data into javascript variable with EJS file */
#noteBookFromDb-ejs {
    display: none;
}

#mainContainer {
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#notesAreaContainer {
    width: calc(100% - 20px - 300px);
    display: flex;
}

.readMode #notesTextArea {
    display: none;
}

.readMode #notesPreviewArea {
    display: inline;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.writeMode #notesPreviewArea{
    display: none;
}

.writeMode #notesTextArea {
    display: inline;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.splitMode #notesPreviewArea, .splitMode #notesTextArea {
    display: inline;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

#notesTextArea {
    box-sizing: border-box;
    resize: none;
    width: 50%;
    height: 100%;
    background: whitesmoke;
    outline: none;
    border-style: none;
    padding-top: 10vh;
    padding-bottom: 60vh;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 17px;
    overscroll-behavior-y: contain;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

#notesPreviewArea {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    background: whitesmoke;
    padding-top: 10vh;
    padding-bottom: 40vh;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 17px;
    overscroll-behavior-y: contain;
    overflow-x: hidden;
}

.loading h3, .loading h2, .loading h1, .loading mark, .loading span, .loading strong, .loading em, .loading pre, .loading s, .loading input, .loading a {
    opacity: .25;
}

.loading .lds-grid {
    opacity: 1 !important;
}

#notesPreviewArea h1, #notesPreviewArea h2, #notesPreviewArea h3 {
    margin-bottom: -.25em;
}

/* toolbar. #brain is a container element for wikipedia summary, summary is put in this element and this element is put in the tooltip */
#brain {
    width: 400px;
    height: auto;
}

.emoji {
    margin-top: 6px;
    height: 1.15em;
    width: 1.15em;
}

#toolBar {
    transform: translate(-50%, -0%);
    top: 0%;
    left: 50%;
    position: fixed;
    z-index: 1;
    user-select: none;
    font-size: 1.4rem;
    height: auto;
    width: auto;
    padding-left: 9px;
    padding-right: 9px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    gap: .25em;
    padding-bottom: 3px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#mobileMenu {
    z-index: 2;
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    right: 0%;
    bottom: 6.5vh;
    position: fixed;
    display: none;
    background: rgb(116, 222, 152);
    line-height: 3.5em;
    text-align: center;
    font-size: 1em;
    color: #000;
    transition: .5s;
    user-select: none;
    margin-bottom: 2em;
    margin-right: .75em;
}

#mobileSyncContainer {
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    border-radius: 25px;
    width: 25vw;
    height: 20px;
    position: fixed;
    z-index: 1;
    transition: .5s;
}

#mobileSync {
    border-radius: 25px;
    width: 25vw;
    height: 3px;
    transition: .5s;
    display: none;
}

.homeToolBar #icon1, .homeToolBar #icon3, .homeToolBar #icon4, .homeToolBar #icon6, .homeToolBar #icon7, .homeToolBar #grnBox, .homeToolBar #areNotesSavedIcon  {
    pointer-events: none;
    opacity: .35;
    filter: grayscale(1);
}

#toolBar label, #icon1, #icon2, #icon3, #icon4, #icon5, #icon6, #icon7 {
    cursor: pointer;
}

/* page number and drop down of page numbers */
#leftMostSideBar {
    width: 20px;
    user-select: none;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    background: rgb(51, 50, 48);
}

#bottomLeftGeneralInfo {
    cursor: default;
    z-index: 1;
    bottom: 0%;
    left: calc(30px + 300px);
    position: fixed;
    padding-right: .5em;
    padding-left: .5em;
    background: rgba(230, 230, 230,.6);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    backdrop-filter: blur(5px);
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#generalInfoPageNumber, #generalInfoViewMode, #letterCount, #wordCount, #spacer {
    font-family: monospace;
    color: rgb(43, 43, 43);
}

#sideBarRetractList {
    flex-grow: 1;
    cursor: pointer;
}

#goHome {
    text-align: center;
    font-family: monospace;
    color: peru;
    text-decoration: none;
}

#stickyNotes {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    right: 0%;
    bottom: 0%;
    position: fixed;
    background: palegoldenrod;
    line-height: 3.5em;
    text-align: center;
    font-size: 1em;
    color: #000;
    transition: .25s;
    user-select: none;
    margin-bottom: .75em;
    margin-right: .75em;
}

.whereTo {
    transition: .25s;
    text-align: center;
    cursor: pointer;
    background: rgb(51, 50, 48);
    color: white;
    font-family: monospace;
    font-weight: bold;
    height: 20px;
}

.whereTo:hover {
    background: white;
    color: black;
}

#morePages {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 16px;
}

.pagePreviewContainer {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    width: 300px;
    padding: 10px;
}

.pagePreviewContainer h1, .pagePreviewContainer h2, .pagePreviewContainer h3 {
    margin-top: 0px;
}

.pagePreviewContainer a {
    pointer-events: none;
}

.pagePreviewContainer pre {
    background: #e7e7e7;
    border-radius: .5rem;
    font-size: 1rem;
    line-height: 1.25em;
    color: black;
    padding: .75rem 1rem;
    font-size: 15px;
}
  
.pagePreviewContainer pre code {
    font-family: monospace;
    background: none;
    color: inherit;
    padding: 0;
}

#bookDiffPopup {
    visibility: hidden;
    z-index: 1;
    height: 80%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    opacity: 0;
    transition: .25s;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#bookDiffExit {
    cursor: pointer;
    height: auto;
    border-top-left-radius: 12px;
    background: rgb(209, 59, 59);
    text-align: center;
    height: 100%;
    width: 5%;
}

#bookDiffHeader {
    backdrop-filter: blur(5px);
    background: rgba(22, 22, 22, .8);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
}

#bookDiffFooter {
    backdrop-filter: blur(5px);
    background: rgba(22, 22, 22, .8);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
}

#bookDiffContent {
    box-sizing: border-box;
    padding-top: 2em;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    overflow: auto;
    flex-grow: 1;
    white-space: pre-wrap;
    background: rgb(43, 42, 42);
}

#bookDiffContent h2 {
    text-decoration: underline;
}

.bookDiffPopupVisible {
    visibility: visible !important;
    opacity: 1 !important;
}

/* Sidebar */
#listOfBooks {
    height: 100vh;
    width: 300px;
    background: rgb(39, 38, 36);
    user-select: none;
    overflow-y: auto;
}

#searchItem {
    width: auto;
    height: 1.5em;
}

#searchBar {
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    height: 100%;
    background: rgb(34, 34, 34);
    outline: none;
    border-style: none;
    color: silver;
    background: black;
    padding: .25em;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

.item {
    width: 95%;
    height: 2em;
    color: #141414;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    font-size: 14px;
    transition: 0.15s ease-out;
    color: silver;
    padding-left: 5%;
    line-height: 0px;
    padding-top: 3px;
}

.listHeader {
    box-sizing: border-box;
    color: white;
    transition: .15s;
    width: 105%;
    height: 2em;
    line-height: 2em;
    padding-left: 5%;
    margin-left: -5%;
}

.listHeader:hover {
    background: #4e4e4e;
}

.linkWrapper {
    box-sizing: border-box;
    color: whitesmoke;
    transition: .15s;
    height: 2em;
    line-height: 2em;
    padding-left: 5%;
    background: none;
    margin-top: 2px;
    white-space: nowrap;
    border-left-style: solid;
    border-width: 1px;
    border-color: #585858;
    font-size: 13px;
}

.linkWrapper:hover {
    background: #4e4e4e;
}

.linkWrapper span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.item a {
    text-decoration: none;
    opacity: 0%;
    transition: .15s;
    visibility: hidden;
    margin-left: 10%;
}

.itemWithLinks a {
    visibility: visible;
    opacity: 100%;
}

.itemWithLinks .listHeader {
    background: #4e4e4e;
}

.lockedItem .listHeader {
    background: #757575;
}

#mobileList {
    top: 0%;
    left: 0%;
    position: fixed;
    z-index: 1;
    height: 90vh;
    width: 100vw;
    display: none;
    background: black;
    user-select: none;
    overflow-y: auto;
}

/* Styles for note markup, stuff like bullet points and code blocks .marked is for numbers before ordered list (it's not an actual ol)*/
.MathJax {
    font-size: 17px !important;
}

.spoiler {
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding-left: .3em;
    padding-right: .3em;
    cursor: default;
}

.spoiler:hover {
    color: white;
}

.unorder {
    display: list-item;
}

.square {
    display: list-item;
    list-style: square;
}

.circle {
    display: list-item;
    list-style: circle;
}

.order {
    display: list-item;
}

.order::marker {
    color: rgba(0,0,0,0);
}

.marked {
    user-select: none;
    cursor: default;
    margin-left: -1em;
}

mark {
    padding-left: .3em;
    padding-right: .3em;
    background: rgb(255, 239, 149);
}

.red {
    color: red;
}

.reference {
    color: rebeccapurple;
    text-decoration: none;
}

.userImage {
    user-select: none;
    width: 80%;
    height: auto;
}

.codeBlock {
    width: 100%;
    height: auto;
    background: #e7e7e7;
    border-radius: 3px;
    padding: 1em;
    padding-top: 0px;
    overflow-x: auto;
    font-family: monospace;
    white-space: pre;
    margin-bottom: -.25em;
    font-size: 16px;
}

.userHtml {
    width: 100%;
    height: auto;
    background: #e7e7e7;
    border-radius: 3px;
    padding: 1em;
    overflow-x: auto;
    font-family: monospace;
    font-size: 16px;
    margin-bottom: -.25em;
}

/* https://stackoverflow.com/a/69970674 */
#wikipediaBrainAnimation {
    user-select: none;
    visibility: hidden;
    position: fixed;
    z-index: 100000;
    pointer-events: none;
    font-size: 1.2em;
}

.wikipediaBrainAnimation {
    animation: brainAnimation 1s forwards;
    position: absolute;
    visibility: visible;
}

@keyframes brainAnimation {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -50px;
    }
}

/* https://codepen.io/oltika/pen/WGLZyb */
.saved {
    animation: saved 1s ease;   
}
@keyframes saved {
    30% {
        transform: scale(1.2);
    }
    40%, 60% {
        transform: rotate(-20deg) scale(1.2);
    }
    50% {
        transform: rotate(20deg) scale(1.2);
    }
    70% {
        transform: rotate(0deg) scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
/* iPhone 13 */
@media only screen and (max-width: 390px) and (max-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    body {
        background: black;
    }
    #notesTextArea, #notesPreviewArea {
        background: black;
        color: white;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 5vh;
        height: 90vh;
    }
    #notesTextArea {
        padding-top: 10vh;
    }
    #leftMostSideBar, #generalInfoViewMode, #letterCount, #wordCount, #spacer {
        display: none;
    }
    #generalInfoPageNumber {
        color: whitesmoke;
    }
    #notesAreaContainer {
        width: 100%;
        background: black;
    }
    #bottomLeftGeneralInfo {
        top: 0%;
        left: 0%;
        background: none;
        height: 1px;
    }
    #toolBar {
        width: 100%;
        gap: .6em;
        height: 6.5vh;
        width: 100%;
        border-radius: 0px;
        padding-bottom: 7%;
        top: inherit;
        bottom: 0%;
        touch-action: manipulation;
        box-shadow: none;
    }
    #toolBar span {
        font-size: 1.3em;
        margin-top: .3em;
    }
    #icon8, #areNotesSavedIcon {
        display: none;
    }
    #listOfBooks {
        display: none;
    }
    #mobileMenu, #mobileSync {
        display: inherit;
    }
    a {
        color: lightblue;
    }
    .codeBlock, .userHtml {
        width: 90%;
        background: #141414;
    }
    .order {
        margin-left: 2em;
    }
    .tippy-popper {
        visibility: hidden !important;
    }
    .reference {
        color: violet;
    }
    .readMode #notesPreviewArea {
        padding-left: 10%;
        padding-right: 10%;
    }
    .writeMode #notesTextArea {
        padding-left: 10%;
        padding-right: 10%;
    }
    #stickyNotes {
        display: none;
    }
}

.lds-grid {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #636363;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;

}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
}