@import url("/assets/notyf.min.css");
@import url("https://unpkg.com/tippy.js@5/themes/light.css");

body {
    overflow-x: hidden;
    overflow-y: hidden;
    background: #fff;
}

* {
    /* font-family: "Gabarito", sans-serif; */
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    color: #000;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

a {
    color: darkcyan;
}

.editable #in {
    z-index: 999;
    opacity: 1;
}

.editable #notes {
    z-index: 998;
    opacity: 0;
}

.uneditable #in {
    z-index: 998;
    opacity: 0;
}

.uneditable #notes {
    z-index: 999;
    opacity: 1;
}

/* Dynamically loaded content that is never viewed directly by the user, basically used to pass data into javascript variable with EJS file */
#bookSave {
    display: none;
}

#in {
    top: 0%;
    left: 0%;
    position: absolute;
    resize: none;
    width: 50vw;
    height: 30vh;
    background: #fff;
    outline: none;
    border-style: none;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 10vh;
    padding-bottom: 60vh;
    font-size: 17px;
    z-index: 999;
    overscroll-behavior-y: contain;
    opacity: 0;
}

#notes {
    top: 0%;
    left: 0%;
    position: absolute;
    width: 50vw;
    height: 50vh;
    background: #fff;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 10vh;
    padding-bottom: 40vh;
    font-size: 17px;
    z-index: 998;
    overscroll-behavior-y: contain;
    overflow: auto;
    opacity: 0;
}

#notes h1,
#notes h2,
#notes h3 {
    margin-bottom: -0.25em;
}

/* toolbar. #brain is a container element for wikipedia summary, summary is put in this element and this element is put in the tooltip */
#brain {
    width: 400px;
    height: auto;
    text-align: left;
}

.emoji {
    margin-top: 6px;
    height: 1.15em;
    width: 1.15em;
}

#navContainer {
    transform: translate(-50%, -0%);
    top: 0%;
    left: 50%;
    position: fixed;
    z-index: 1000;
    user-select: none;
    display: grid;
    grid-template-areas:
        '. . a'
        'b b b'
}

#icon6:active, #icon7:active {
    scale: .9;
}

#nav {
    font-size: 1.4rem;
    height: auto;
    width: auto;
    padding-left: 9px;
    padding-right: 9px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    gap: .25em;
    transition: .5s;
    grid-area: b;
    padding-bottom: 3px;
}

#mobileSyncContainer {
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    border-radius: 25px;
    width: 25vw;
    height: 20px;
    position: fixed;
    z-index: 1000;
    transition: .5s;
}

#mobileSync {
    border-radius: 25px;
    width: 25vw;
    height: 3px;
    transition: .5s;
    display: none;
}

.homeNav #icon1, .homeNav #icon3, .homeNav #icon4, .homeNav #icon6, .homeNav #icon7, .homeNav #sync  {
    pointer-events: none;
    opacity: .35;
    filter: grayscale(1);
}

#nav label, #icon1, #icon2, #icon3, #icon4, #icon5, #icon6, #icon7 {
    cursor: pointer;
}

.tippy-popper .codeBlock, .tippy-popper .userHtml {
    width: 90%;
}

.tippy-popper h1, .tippy-popper h2, .tippy-popper h3 {
    margin-bottom: -1em;
}

/* page number and drop down of page numbers */
#pageNumber {
    z-index: 1000;
    top: 0%;
    left: 0%;
    position: fixed;
    padding-top: 5px;
    padding-left: 5px;
    user-select: none;
    cursor: pointer;
    font-size: 1.3em;
}

.whereTo {
    border-left-style: solid;
    border-width: 2px;
}

.whereTo:hover {
    background: #000;
    color: #fff;
}

#currDiff {
    visibility: hidden;
    z-index: 1000;
    height: 80%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    overflow: auto;
    text-align: left;
    opacity: 0;
    padding: 2%;
    border-radius: 20px;
    transition: .25s;
    cursor: default;
    background: #000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(211, 211, 211, 0.9);
}

.pageDiff {
    width: 100%;
    padding: 2%;
    width: auto;
}

/* Sidebar */
#list {
    top: 0%;
    left: 0%;
    position: fixed;
    height: 100vh;
    width: 200px;
    background: rgb(39, 38, 36);
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    z-index: 1000;
    display: none;
}

.searchItem {
    box-sizing: border-box;
    width: auto;
    height: 2em;
    color: #141414;
    overflow: hidden;
    transition: 0.15s ease-out;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
}

#searchBar {
    box-sizing: border-box;
    font-size: 17px;
    width: 100%;
    height: auto;
    background: rgb(34, 34, 34);
    outline: none;
    border-style: none;
    color: silver;
    background: #000;
    padding: .25em;
}

.item {
    width: 100%;
    height: 2em;
    color: #141414;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    line-height: 0;
    font-size: 16px;
    transition: 0.15s ease-out;
    color: silver;
    padding-top: 3px;
    padding-left: 15%;
}

.linkWrapper {
    width: 100%;
    box-sizing: border-box;
    color: white;
    border-color: blue;
    transition: .15s;
    height: 2em;
    padding: 1em;
    background: none;
}

.linkWrapper:hover {
    background: #4e4e4e;
    border-color: blue;
    border-left-style: solid;
}

.item h3 {
    font-family: Arial, Helvetica, sans-serif;
	color: whitesmoke;
}

.item a {
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    visibility: hidden;
    text-decoration: none;
    opacity: 0%;
    transition: .15s;
    visibility: hidden;
    margin-left: 20%;
}

.listHeader {
    box-sizing: border-box;
    color: white;
    transition: .15s;
    width: 115%;
    height: 2em;
    padding: 1em;
    padding-bottom: 0px;
    margin-left: -15%;
}

.listHeader:hover {
    background: #4e4e4e;
}

.itemWithLinks a {
    visibility: visible;
    opacity: 100%;
}

.itemWithLinks .listHeader {
    background: #4e4e4e;
}

#tab {
    height: 15em;
    width: 10px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 0%;
    z-index: 1000;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #000;
    cursor: pointer;
    opacity: 0.7;
}

#mobileMenu {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    z-index: 1000;
    display: none;
    line-height: 3.5em;
    text-align: center;
    font-size: 1em;
    color: #000;
    transition: .5s;
    user-select: none;
    grid-area: a;
    margin-bottom: .5em;
    margin-right: -.75em;
}

/* Styles for note markup, stuff like bullet points and code blocks .marked is for numbers before ordered list (it's not an actual ol)*/
.spoiler {
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding-left: .3em;
    padding-right: .3em;
    cursor: default;
}

.spoiler:hover {
    color: #ffffff;
}

.unorder, .order {
    margin-left: 4em;
}

.order::marker {
    color: rgba(0,0,0,0);
}

.marked {
    user-select: none;
    cursor: default;
    margin-left: -1em;
}

mark {
    color: #000;
    padding-left: .3em;
    padding-right: .3em;
}

.red {
    color: red;
}

.userImage {
    user-select: none;
    width: 700px;
    height: auto;
}

.codeBlock {
    width: 100%;
    height: auto;
    background: #000;
    border-radius: 10px;
    padding: 1em;
    padding-top: 0px;
    margin-bottom: -1em;
    color: #2ddd2d;
    overflow-x: auto;
    font-family: monospace;
}

.userHtml {
    width: 100%;
    height: auto;
    background: #000;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: -1em;
    color: #2ddd2d;
    overflow-x: auto;
    font-family: monospace;
}

/* https://stackoverflow.com/a/69970674 */
#moneyAnimation {
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    font-size: 1.2em;
}

.moneyAnimation {
    animation: moneyAnimation 1s forwards;
    position: absolute;
    visibility: visible;
}


@keyframes moneyAnimation {
    0% {
        opacity: 1;
        top: 0;
    }

    100% {
        opacity: 0;
        top: -50px;
    }
}

/* https://codepen.io/oltika/pen/WGLZyb */
@keyframes saved {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* Responsiveness for iPhone 13 */
@media only screen 
    and (max-width: 390px) 
    and (max-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
    body {
        background: #000;
    }
    * {
        color: #fff;
    }
    .whereTo:hover {
        background: #fff;
        color: #000;
    }
    a {
        color: lightblue;
    }
    .tippy-popper {
        visibility: hidden !important;
    }
    #notes, #in {
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
        background: #000;
    }
    #in {
        padding-bottom: 50vh;
    }
    #notes {
        height: 45vh;
        padding-top: 5vh;
    }
    .codeBlock, .userHtml {
        width: 90%;
        background: #141414;
    }
    .userImage {
        width: 80vw;
    }
    .unorder, .order {
        margin-left: 1em;
    }
    #list {
        background: #000;
        height: 90vh;
        border-right-style: solid;
        border-width: 1px;
    }
    .item {
        margin-top: 3px;
        background: #141414;
    }
    #tab {
        visibility: hidden;
    }
    #nav {
        gap: .75em;
        height: 6.5vh;
        width: auto;
        border-radius: 0px;
        padding-bottom: 7%;
    }
    #navContainer {
        height: auto;
        width: 100%;
        top: inherit;
        bottom: 0%;
    }
    #nav span {
        font-size: 1.3em;
        margin-top: .3em;
    }
    #icon8, #sync {
        display: none;
    }
    #mobileMenu, #mobileSync {
        display: inherit;
    }
    #currDiff {
        height: 70vh;
        width: 80vw;
    }
}
