@import url("https://cdnjs.cloudflare.com/ajax/libs/notyf/3.10.0/notyf.min.css");
@import url("https://unpkg.com/tippy.js@5/themes/light.css");

body {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #f1f1f1;
}

* {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

a {
    color: darkcyan;
}

/* Dynamically loaded content that is never viewed directly by the user, basically used to pass data into javascript variable with EJS file */
#noteBookFromDb-ejs {
    display: none;
}

#mainContainer {
    top: 0%;
    left: 0%;
    position: absolute;
    background: #f1f1f1;
    width: 100vw;
    height: 100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#notesAreaContainer {
    width: calc(100% - 20px - 15%);
    position: relative;
    display: flex;
}

#notesTextArea {
    color: black;
    box-sizing: border-box;
    resize: none;
    width: 50%;
    height: 100%;
    background: #f1f1f1;
    outline: none;
    border-style: none;
    padding-top: 10vh;
    padding-bottom: 60vh;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 17px;
    overscroll-behavior-y: contain;
}

#notesPreviewArea {
    color: black;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    background: #f1f1f1;
    padding-top: 10vh;
    padding-bottom: 40vh;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 17px;
    overscroll-behavior-y: contain;
    overflow: auto;
}

#notesPreviewArea h1,
#notesPreviewArea h2,
#notesPreviewArea h3 {
    margin-bottom: -0.25em;
}

/* toolbar. #brain is a container element for wikipedia summary, summary is put in this element and this element is put in the tooltip */
#brain {
    width: 400px;
    height: auto;
    text-align: left;
}

.emoji {
    user-select: none;
    margin-top: 6px;
    height: 1.15em;
    width: 1.15em;
}

#toolBar {
    transform: translate(-50%, -0%);
    top: 0%;
    left: 50%;
    position: fixed;
    z-index: 1000;
    user-select: none;
    font-size: 1.4rem;
    height: auto;
    width: auto;
    padding-left: 9px;
    padding-right: 9px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    gap: .25em;
    transition: .5s;
    padding-bottom: 3px;
}

.homeToolBar #icon1, .homeToolBar #icon3, .homeToolBar #icon4, .homeToolBar #icon6, .homeToolBar #icon7, .homeToolBar #grnBox  {
    pointer-events: none;
    opacity: .35;
    filter: grayscale(1);
}

#toolBar label, #icon1, #icon2, #icon3, #icon4, #icon5, #icon6, #icon7 {
    cursor: pointer;
}

.tippy-popper .codeBlock, .tippy-popper .userHtml {
    width: 90%;
}

.tippy-popper h1, .tippy-popper h2, .tippy-popper h3 {
    margin-bottom: -1em;
}

/* page number and drop down of page numbers */
#leftMostSideBar {
    width: 20px;
    user-select: none;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: start;
    gap: 1px;
    background: rgb(51, 50, 48);
}

#bottomLeftGeneralInfo {
    cursor: default;
    z-index: 1000;
    bottom: 0%;
    left: calc(20px + 15%);
    position: fixed;
    padding-right: .5em;
    padding-left: .5em;
    background: rgba(230, 230, 230,.6);
    border-top-right-radius: 12px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#generalInfoPageNumber, #generalInfoViewMode, #letterCount, #wordCount {
    font-family: monospace;
    color: rgb(43, 43, 43);
}

#topLeftPageNumbers {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#createNewPage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#sideBarRetractList {
    flex-grow: 1;
    cursor: pointer;
    text-align: center;
    font-family: monospace;
    margin-bottom: auto;
    color: peru;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#currPage {
    width: 100%;
    text-align: center;
    display: flex;
}

.whereTo {
    transition: .25s;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    background: rgb(51, 50, 48);
    color: white;
    font-family: monospace;
}

.whereTo:hover {
    background: white;
    color: black;
}

#bookDiffPopup {
    visibility: hidden;
    z-index: 1000;
    height: 80%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    opacity: 0;
    transition: .25s;
    cursor: default;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bookDiffExit {
    border-top-left-radius: 12px;
    cursor: pointer;
    height: auto;
    width: 5%;
    border-bottom-left-radius: 0px;
    background: rgb(209, 59, 59);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#bookDiffHeader {
    backdrop-filter: blur(5px);
    background: rgba(22, 22, 22, .8);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    display: flex;
}

#bookDiffFooter {
    backdrop-filter: blur(5px);
    background: rgba(22, 22, 22, .8);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
    display: flex;
}

#bookDiffContent {
    box-sizing: border-box;
    padding-top: 2em;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    overflow: auto;
    flex-grow: 1;
    white-space: pre-wrap;
    background: rgb(43, 42, 42);
}

#bookDiffContent h2 {
    text-decoration: underline;
}

#viewDiffContainer {
    padding-left: 10%;
    padding-right: 10%;
    width: auto;
    height: 100%;
}

.bookDiffPopupVisible {
    visibility: visible !important;
    opacity: 1 !important;
}

.pageDiff {
    width: 100%;
    padding: 2%;
    width: auto;
}

/* Sidebar */
#listOfBooks {
    height: 100vh;
    width: 15%;
    background: rgb(39, 38, 36);
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
}

.searchItem {
    box-sizing: border-box;
    width: auto;
    height: 2em;
    color: #141414;
    overflow: hidden;
    transition: 0.15s ease-out;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
}

#searchBar {
    box-sizing: border-box;
    font-size: 17px;
    width: 100%;
    height: auto;
    background: rgb(34, 34, 34);
    outline: none;
    border-style: none;
    color: silver;
    background: black;
    padding: .25em;
}

.item {
    width: 100%;
    height: 2em;
    color: #141414;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    font-size: 14px;
    transition: 0.15s ease-out;
    color: silver;
    padding-top: 3px;
    padding-left: 10%;
    overflow-x: hidden;
    line-height: 0px;
    white-space: nowrap;
}

.linkWrapper {
    width: 100%;
    box-sizing: border-box;
    color: white;
    border-color: blue;
    transition: .15s;
    height: 2em;
    padding: 1em;
    background: none;
}

.linkWrapper:hover {
    background: #4e4e4e;
    border-color: blue;
    border-left-style: solid;
}

.linkWrapper:hover span {
    background: white;
    background: linear-gradient(to right, white 25%, rgba(0,0,0,0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linkWrapper span {
    transition: .5s;
    background: white;
    background: linear-gradient(to right, white 25%, rgba(0,0,0,0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -20px;
    overflow-x: hidden;
}

.item a {
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    visibility: hidden;
    text-decoration: none;
    opacity: 0%;
    transition: .15s;
    visibility: hidden;
    margin-left: 10%;

}

.listHeader {
    box-sizing: border-box;
    color: white;
    transition: .15s;
    width: 100%;
    height: 2em;
    padding: 1em;
    padding-bottom: 0px;
    margin-left: -10%;
}

.listHeader:hover {
    background: #4e4e4e;
}

.itemWithLinks a {
    visibility: visible;
    opacity: 100%;
}

.itemWithLinks .listHeader {
    background: #4e4e4e;
}

.itemWithLinks .linkWrapper span {
    margin-left: 0px;
}

#lockedItem .listHeader {
    filter: brightness(150%);
}

/* Styles for note markup, stuff like bullet points and code blocks .marked is for numbers before ordered list (it's not an actual ol)*/
.spoiler {
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding-left: .3em;
    padding-right: .3em;
    cursor: default;
}

.spoiler:hover {
    color: white;
}

.unorderIndented {
    margin-left: 8em;
    list-style: circle;
}

.unorder, .order {
    margin-left: 4em;
}

.order::marker {
    color: rgba(0,0,0,0);
}

.marked {
    user-select: none;
    cursor: default;
    margin-left: -1em;
}

mark {
    color: black;
    padding-left: .3em;
    padding-right: .3em;
}

.red {
    color: red;
}

.reference {
    color: rebeccapurple;
    text-decoration: none;
}

.userImage {
    user-select: none;
    width: 80%;
    height: auto;
}

.codeBlock {
    width: 100%;
    height: auto;
    background: black;
    border-radius: 10px;
    padding: 1em;
    padding-top: 0px;
    margin-bottom: -1em;
    color: #2ddd2d;
    overflow-x: auto;
    font-family: monospace;
}

.userHtml {
    width: 100%;
    height: auto;
    background: black;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: -1em;
    color: #2ddd2d;
    overflow-x: auto;
    font-family: monospace;
}

/* https://stackoverflow.com/a/69970674 */
#wikipediaBrainAnimation {
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    font-size: 1.2em;
}

.wikipediaBrainAnimation {
    animation: brainAnimation 1s forwards;
    position: absolute;
    visibility: visible;
}


@keyframes brainAnimation {
    0% {
        opacity: 1;
        top: 0;
    }

    100% {
        opacity: 0;
        top: -50px;
    }
}

/* https://codepen.io/oltika/pen/WGLZyb */
.saved {
    animation: saved 1s ease;   
}
@keyframes saved {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}